body {
    font-family: 'Arial', sans-serif;
    background-color: #444343;
    padding: 20px;
    width: 100%;
    color: #fff;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}